{% extends 'layout.html.twig' %}
{% block content %}
<h2>Internal users</h2>
{% for user in users %}
<div class="row" class="user">
<img class="col-4" src="{{ user.avatar }}" alt="Card image cap">
 <div class="col-8">
 <h5 class="card-title">{{ user.firstName|capitalize  }} {{ user.lastName|capitalize }}</h5>
  <p class="card-text">{{ user.email }}</p>
  <a class="btn btn-success" href="{{  path('edit',{'id':user.id})  }}">Edit profil</a>
  <a class="btn btn-success" href="{{  path('delete',{'id':user.id})  }}">Delete profil</a>
  {% for exUser in exUsers %}
  {% if exUser.email == user.email %}
  <a class="btn btn-success" href="{{  path('sync',{'email':exUser.email})  }}">Sync profil</a>
  {% endif %}
  {% endfor %}
  </div>
  </div>
  <hr />
{% endfor %}
<h2>External users</h2>




{% for exUser in exUsers %}
{% set isEmail = 0 %}
{% for user in users %}
{% if exUser.email == user.email %}
{% set isEmail = 1 %}
{% endif %}
{% endfor %}
{% if isEmail==0 %}
<div class="row" class="user">
<img class="col-4" src="{{ exUser.avatar }}" alt="Card image cap">
 <div class="col-8">
 <h5 class="card-title">{{ exUser.firstName|capitalize  }} {{ exUser.lastName|capitalize }}</h5>
  <p class="card-text">{{ exUser.email }}</p>
  </div>
  </div>
  <hr />
  {% endif %}
{% endfor %}

{% endblock %}
