{% extends 'layout.html.twig' %}
{% block content %}
{% for user in users %}
<div class="row" class="user">
<img class="col-4" src="{{ user.avatar }}" alt="Card image cap">
 <div class="col-8">
 <h5 class="card-title">{{ user.firstName|capitalize  }} {{ user.lastName|capitalize }}</h5>
  <p class="card-text">{{ user.email }}</p>
  <a class="btn btn-success" href="form.php?id={{ user.id }}">Edit profil</a>
  <a class="btn btn-success" href="?action=delete&id={{ user.id }}">Delete profil</a>
  </div>
  </div>
  <hr />
{% endfor %}

{% for exUser in exUsers %}
<div class="row" class="user">
<img class="col-4" src="{{ exUser.avatar }}" alt="Card image cap">
 <div class="col-8">
 <h5 class="card-title">{{ exUser.firstName|capitalize  }} {{ exUser.lastName|capitalize }}</h5>
  <p class="card-text">{{ exUser.email }}</p>
  </div>
  </div>
  <hr />
{% endfor %}

{% endblock %}
